<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Memoizer</title>
		<!-- bootstrap -->
		<link rel="stylesheet" href="./css/bootstrap/bootstrap.min.css">
		<script src="./js/bootstrap/bootstrap.min.js"></script>
		<!-- custom style -->
		<link rel="stylesheet" href="./css/style_sayho.css">
	</head>
	<body>
		<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
		  <ul class="navbar-nav">
		    <li class="nav-item active">
		      <a class="nav-link" href="#"><strong>Memoizer</strong></a>
		    </li>
		  </ul>
		</nav>
		<section class="jumbotron">
			<h1>Memoizer</h1>
			<h3>내가 개념을 알고 있는지 확인하는 가장 좋은 방법은 테스트 입니다.</h3>
			
		</section>
		<footer class="page-footer font-small bg-primary">
			<div class="footer-copyright text-center py-3" style="color:white">
				<p>Copyright &copy; 2020 <a href="https://github.com/eurowondollaryen" style="color:white" target="_blank"><strong>eurowondollaryen</strong></a>.</p>
			</div>
		</footer>
	</body>
</html>